<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="load.php"
         cacheDirectory="cache"
         displayDetailsOnTestsThatTriggerWarnings="true"
>
<testsuites>
	<testsuite name="all">
		<directory suffix=".php">test/unit</directory>
	</testsuite>
</testsuites>
</phpunit>
